{
  "openapi": "3.0.3",
  "info": {
    "version": "1.1.4",
    "title": "GitHub v3 REST API",
    "description": "A *tiny* fraction of GitHub's v3 REST API, downloaded on 2025-08-31 from https://raw.githubusercontent.com/github/rest-api-description/refs/heads/main/descriptions/api.github.com/api.github.com.json",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "termsOfService": "https://docs.github.com/articles/github-terms-of-service",
    "contact": {
      "name": "Support",
      "url": "https://support.github.com/contact?tags=dotcom-rest-api"
    },
    "x-github-plan": "api.github.com"
  },
  "tags": [
    {
      "name": "actions",
      "description": "Endpoints to manage GitHub Actions using the REST API."
    },
    {
      "name": "activity",
      "description": "Activity APIs provide access to notifications, subscriptions, and timelines."
    },
    {
      "name": "apps",
      "description": "Information for integrations and installations."
    },
    {
      "name": "billing",
      "description": "Monitor charges and usage from Actions and Packages."
    },
    {
      "name": "checks",
      "description": "Rich interactions with checks run by your integrations."
    },
    {
      "name": "code-scanning",
      "description": "Retrieve code scanning alerts from a repository."
    },
    {
      "name": "codes-of-conduct",
      "description": "Insight into codes of conduct for your communities."
    },
    {
      "name": "emojis",
      "description": "List emojis available to use on GitHub."
    },
    {
      "name": "dependabot",
      "description": "Endpoints to manage Dependabot."
    },
    {
      "name": "dependency-graph",
      "description": "Endpoints to access Dependency Graph features."
    },
    {
      "name": "gists",
      "description": "View, modify your gists."
    },
    {
      "name": "git",
      "description": "Raw Git functionality."
    },
    {
      "name": "gitignore",
      "description": "View gitignore templates"
    },
    {
      "name": "issues",
      "description": "Interact with GitHub Issues."
    },
    {
      "name": "licenses",
      "description": "View various OSS licenses."
    },
    {
      "name": "markdown",
      "description": "Render GitHub flavored markdown"
    },
    {
      "name": "merge-queue",
      "description": "Interact with GitHub Merge Queues."
    },
    {
      "name": "meta",
      "description": "Endpoints that give information about the API."
    },
    {
      "name": "migrations",
      "description": "Move projects to or from GitHub."
    },
    {
      "name": "oidc",
      "description": "Endpoints to manage GitHub OIDC configuration using the REST API."
    },
    {
      "name": "orgs",
      "description": "Interact with GitHub Orgs."
    },
    {
      "name": "packages",
      "description": "Manage packages for authenticated users and organizations."
    },
    {
      "name": "projects-classic",
      "description": "Interact with GitHub Projects (classic)."
    },
    {
      "name": "pulls",
      "description": "Interact with GitHub Pull Requests."
    },
    {
      "name": "rate-limit",
      "description": "Check your current rate limit status"
    },
    {
      "name": "reactions",
      "description": "Interact with reactions to various GitHub entities."
    },
    {
      "name": "repos",
      "description": "Interact with GitHub Repos."
    },
    {
      "name": "search",
      "description": "Look for stuff on GitHub."
    },
    {
      "name": "secret-scanning",
      "description": "Retrieve secret scanning alerts from a repository."
    },
    {
      "name": "teams",
      "description": "Interact with GitHub Teams."
    },
    {
      "name": "users",
      "description": "Interact with and view information about users and also current user."
    },
    {
      "name": "codespaces",
      "description": "Endpoints to manage Codespaces using the REST API."
    },
    {
      "name": "copilot",
      "description": "Endpoints to manage Copilot using the REST API."
    },
    {
      "name": "security-advisories",
      "description": "Manage security advisories."
    },
    {
      "name": "interactions",
      "description": "Owner or admin management of users interactions."
    },
    {
      "name": "classroom",
      "description": "Interact with GitHub Classroom."
    },
    {
      "name": "desktop",
      "description": "Desktop specific endpoints."
    },
    {
      "name": "enterprise-teams",
      "description": "Endpoints to manage GitHub Enterprise Teams."
    },
    {
      "name": "code-security",
      "description": "Endpoints to manage Code security using the REST API."
    },
    {
      "name": "private-registries",
      "description": "Manage private registry configurations."
    },
    {
      "name": "hosted-compute",
      "description": "Manage hosted compute networking resources."
    },
    {
      "name": "credentials",
      "description": "Revoke compromised or leaked GitHub credentials."
    },
    {
      "name": "campaigns",
      "description": "Endpoints to manage campaigns via the REST API."
    },
    {
      "name": "projects",
      "description": "Endpoints to manage Projects using the REST API."
    }
  ],
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "externalDocs": {
    "description": "GitHub v3 REST API",
    "url": "https://docs.github.com/rest/"
  },
  "paths": {},
  "components": {
    "schemas": {
      "root": {
        "type": "object",
        "properties": {
          "current_user_url": {
            "type": "string",
            "format": "uri-template"
          },
          "current_user_authorizations_html_url": {
            "type": "string",
            "format": "uri-template"
          },
          "authorizations_url": {
            "type": "string",
            "format": "uri-template"
          },
          "code_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "commit_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "emails_url": {
            "type": "string",
            "format": "uri-template"
          },
          "emojis_url": {
            "type": "string",
            "format": "uri-template"
          },
          "events_url": {
            "type": "string",
            "format": "uri-template"
          },
          "feeds_url": {
            "type": "string",
            "format": "uri-template"
          },
          "followers_url": {
            "type": "string",
            "format": "uri-template"
          },
          "following_url": {
            "type": "string",
            "format": "uri-template"
          },
          "gists_url": {
            "type": "string",
            "format": "uri-template"
          },
          "hub_url": {
            "type": "string",
            "format": "uri-template",
            "deprecated": true
          },
          "issue_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "issues_url": {
            "type": "string",
            "format": "uri-template"
          },
          "keys_url": {
            "type": "string",
            "format": "uri-template"
          },
          "label_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "notifications_url": {
            "type": "string",
            "format": "uri-template"
          },
          "organization_url": {
            "type": "string",
            "format": "uri-template"
          },
          "organization_repositories_url": {
            "type": "string",
            "format": "uri-template"
          },
          "organization_teams_url": {
            "type": "string",
            "format": "uri-template"
          },
          "public_gists_url": {
            "type": "string",
            "format": "uri-template"
          },
          "rate_limit_url": {
            "type": "string",
            "format": "uri-template"
          },
          "repository_url": {
            "type": "string",
            "format": "uri-template"
          },
          "repository_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "current_user_repositories_url": {
            "type": "string",
            "format": "uri-template"
          },
          "starred_url": {
            "type": "string",
            "format": "uri-template"
          },
          "starred_gists_url": {
            "type": "string",
            "format": "uri-template"
          },
          "topic_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "user_url": {
            "type": "string",
            "format": "uri-template"
          },
          "user_organizations_url": {
            "type": "string",
            "format": "uri-template"
          },
          "user_repositories_url": {
            "type": "string",
            "format": "uri-template"
          },
          "user_search_url": {
            "type": "string",
            "format": "uri-template"
          }
        },
        "required": [
          "current_user_url",
          "current_user_authorizations_html_url",
          "authorizations_url",
          "code_search_url",
          "commit_search_url",
          "emails_url",
          "emojis_url",
          "events_url",
          "feeds_url",
          "followers_url",
          "following_url",
          "gists_url",
          "issue_search_url",
          "issues_url",
          "keys_url",
          "label_search_url",
          "notifications_url",
          "organization_url",
          "organization_repositories_url",
          "organization_teams_url",
          "public_gists_url",
          "rate_limit_url",
          "repository_url",
          "repository_search_url",
          "current_user_repositories_url",
          "starred_url",
          "starred_gists_url",
          "user_url",
          "user_organizations_url",
          "user_repositories_url",
          "user_search_url"
        ]
      },
      "security-advisory-ecosystems": {
        "type": "string",
        "description": "The package's language or package management ecosystem.",
        "enum": [
          "rubygems",
          "npm",
          "pip",
          "maven",
          "nuget",
          "composer",
          "go",
          "rust",
          "erlang",
          "actions",
          "pub",
          "other",
          "swift"
        ]
      },
      "vulnerability": {
        "description": "A vulnerability describing the product and its affected versions within a GitHub Security Advisory.",
        "type": "object",
        "properties": {
          "package": {
            "description": "The name of the package affected by the vulnerability.",
            "type": "object",
            "nullable": true,
            "properties": {
              "ecosystem": {
                "$ref": "#/components/schemas/security-advisory-ecosystems"
              },
              "name": {
                "type": "string",
                "description": "The unique package name within its ecosystem.",
                "nullable": true
              }
            },
            "required": [
              "ecosystem",
              "name"
            ]
          },
          "vulnerable_version_range": {
            "type": "string",
            "description": "The range of the package versions affected by the vulnerability.",
            "nullable": true
          },
          "first_patched_version": {
            "type": "string",
            "description": "The package version that resolves the vulnerability.",
            "nullable": true
          },
          "vulnerable_functions": {
            "type": "array",
            "description": "The functions in the package that are affected by the vulnerability.",
            "nullable": true,
            "readOnly": true,
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "package",
          "vulnerable_version_range",
          "first_patched_version",
          "vulnerable_functions"
        ]
      },
      "cvss-severities": {
        "type": "object",
        "nullable": true,
        "properties": {
          "cvss_v3": {
            "type": "object",
            "nullable": true,
            "properties": {
              "vector_string": {
                "type": "string",
                "description": "The CVSS 3 vector string.",
                "nullable": true
              },
              "score": {
                "type": "number",
                "description": "The CVSS 3 score.",
                "minimum": 0,
                "maximum": 10,
                "nullable": true,
                "readOnly": true
              }
            },
            "required": [
              "vector_string",
              "score"
            ]
          },
          "cvss_v4": {
            "type": "object",
            "nullable": true,
            "properties": {
              "vector_string": {
                "type": "string",
                "description": "The CVSS 4 vector string.",
                "nullable": true
              },
              "score": {
                "type": "number",
                "description": "The CVSS 4 score.",
                "minimum": 0,
                "maximum": 10,
                "nullable": true,
                "readOnly": true
              }
            },
            "required": [
              "vector_string",
              "score"
            ]
          }
        }
      },
      "security-advisory-epss": {
        "type": "object",
        "nullable": true,
        "readOnly": true,
        "description": "The EPSS scores as calculated by the [Exploit Prediction Scoring System](https://www.first.org/epss).",
        "properties": {
          "percentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "percentile": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "simple-user": {
        "title": "Simple User",
        "description": "A GitHub user.",
        "type": "object",
        "properties": {
          "name": {
            "nullable": true,
            "type": "string"
          },
          "email": {
            "nullable": true,
            "type": "string"
          },
          "login": {
            "type": "string",
            "example": "octocat"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "node_id": {
            "type": "string",
            "example": "MDQ6VXNlcjE="
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/images/error/octocat_happy.gif"
          },
          "gravatar_id": {
            "type": "string",
            "example": "41d064eb2195891e12d0413f63227ea7",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat"
          },
          "followers_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/followers"
          },
          "following_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/following{/other_user}"
          },
          "gists_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/gists{/gist_id}"
          },
          "starred_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/starred{/owner}{/repo}"
          },
          "subscriptions_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/subscriptions"
          },
          "organizations_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/orgs"
          },
          "repos_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/repos"
          },
          "events_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/events{/privacy}"
          },
          "received_events_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/received_events"
          },
          "type": {
            "type": "string",
            "example": "User"
          },
          "site_admin": {
            "type": "boolean"
          },
          "starred_at": {
            "type": "string",
            "example": "\"2020-07-09T00:17:55Z\""
          },
          "user_view_type": {
            "type": "string",
            "example": "public"
          }
        },
        "required": [
          "avatar_url",
          "events_url",
          "followers_url",
          "following_url",
          "gists_url",
          "gravatar_id",
          "html_url",
          "id",
          "node_id",
          "login",
          "organizations_url",
          "received_events_url",
          "repos_url",
          "site_admin",
          "starred_url",
          "subscriptions_url",
          "type",
          "url"
        ]
      },
      "security-advisory-credit-types": {
        "type": "string",
        "description": "The type of credit the user is receiving.",
        "enum": [
          "analyst",
          "finder",
          "reporter",
          "coordinator",
          "remediation_developer",
          "remediation_reviewer",
          "remediation_verifier",
          "tool",
          "sponsor",
          "other"
        ]
      },
      "global-advisory": {
        "description": "A GitHub Security Advisory.",
        "type": "object",
        "properties": {
          "ghsa_id": {
            "type": "string",
            "description": "The GitHub Security Advisory ID.",
            "readOnly": true
          },
          "cve_id": {
            "type": "string",
            "description": "The Common Vulnerabilities and Exposures (CVE) ID.",
            "nullable": true,
            "readOnly": true
          },
          "url": {
            "type": "string",
            "description": "The API URL for the advisory.",
            "readOnly": true
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL for the advisory.",
            "readOnly": true
          },
          "repository_advisory_url": {
            "type": "string",
            "format": "uri",
            "description": "The API URL for the repository advisory.",
            "readOnly": true,
            "nullable": true
          },
          "summary": {
            "type": "string",
            "description": "A short summary of the advisory.",
            "maxLength": 1024
          },
          "description": {
            "type": "string",
            "description": "A detailed description of what the advisory entails.",
            "maxLength": 65535,
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "The type of advisory.",
            "readOnly": true,
            "enum": [
              "reviewed",
              "unreviewed",
              "malware"
            ]
          },
          "severity": {
            "type": "string",
            "description": "The severity of the advisory.",
            "enum": [
              "critical",
              "high",
              "medium",
              "low",
              "unknown"
            ]
          },
          "source_code_location": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the advisory's source code.",
            "nullable": true
          },
          "identifiers": {
            "type": "array",
            "nullable": true,
            "readOnly": true,
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of identifier.",
                  "enum": [
                    "CVE",
                    "GHSA"
                  ]
                },
                "value": {
                  "type": "string",
                  "description": "The identifier value."
                }
              },
              "required": [
                "type",
                "value"
              ]
            }
          },
          "references": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "description": "URLs with more information regarding the advisory."
            }
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of when the advisory was published, in ISO 8601 format.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of when the advisory was last updated, in ISO 8601 format.",
            "readOnly": true
          },
          "github_reviewed_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of when the advisory was reviewed by GitHub, in ISO 8601 format.",
            "readOnly": true,
            "nullable": true
          },
          "nvd_published_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the advisory was published in the National Vulnerability Database, in ISO 8601 format.\nThis field is only populated when the advisory is imported from the National Vulnerability Database.",
            "readOnly": true,
            "nullable": true
          },
          "withdrawn_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of when the advisory was withdrawn, in ISO 8601 format.",
            "readOnly": true,
            "nullable": true
          },
          "vulnerabilities": {
            "type": "array",
            "description": "The products and respective version ranges affected by the advisory.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/vulnerability"
            }
          },
          "cvss": {
            "type": "object",
            "nullable": true,
            "properties": {
              "vector_string": {
                "type": "string",
                "description": "The CVSS vector.",
                "nullable": true
              },
              "score": {
                "type": "number",
                "description": "The CVSS score.",
                "minimum": 0,
                "maximum": 10,
                "nullable": true,
                "readOnly": true
              }
            },
            "required": [
              "vector_string",
              "score"
            ]
          },
          "cvss_severities": {
            "$ref": "#/components/schemas/cvss-severities"
          },
          "epss": {
            "$ref": "#/components/schemas/security-advisory-epss"
          },
          "cwes": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "cwe_id": {
                  "type": "string",
                  "description": "The Common Weakness Enumeration (CWE) identifier."
                },
                "name": {
                  "type": "string",
                  "description": "The name of the CWE.",
                  "readOnly": true
                }
              },
              "required": [
                "cwe_id",
                "name"
              ]
            }
          },
          "credits": {
            "type": "array",
            "description": "The users who contributed to the advisory.",
            "nullable": true,
            "readOnly": true,
            "items": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/components/schemas/simple-user"
                },
                "type": {
                  "$ref": "#/components/schemas/security-advisory-credit-types"
                }
              },
              "required": [
                "user",
                "type"
              ]
            }
          }
        },
        "required": [
          "ghsa_id",
          "cve_id",
          "url",
          "html_url",
          "repository_advisory_url",
          "summary",
          "description",
          "type",
          "severity",
          "source_code_location",
          "identifiers",
          "references",
          "published_at",
          "updated_at",
          "github_reviewed_at",
          "nvd_published_at",
          "withdrawn_at",
          "vulnerabilities",
          "cvss",
          "cwes",
          "credits"
        ],
        "additionalProperties": false
      },
      "basic-error": {
        "title": "Basic Error",
        "description": "Basic Error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "validation-error-simple": {
        "title": "Validation Error Simple",
        "description": "Validation Error Simple",
        "type": "object",
        "required": [
          "message",
          "documentation_url"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "enterprise": {
        "title": "Enterprise",
        "description": "An enterprise on GitHub.",
        "type": "object",
        "properties": {
          "description": {
            "description": "A short description of the enterprise.",
            "type": "string",
            "nullable": true
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/enterprises/octo-business"
          },
          "website_url": {
            "description": "The enterprise's website URL.",
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "id": {
            "description": "Unique identifier of the enterprise",
            "example": 42,
            "type": "integer"
          },
          "node_id": {
            "type": "string",
            "example": "MDEwOlJlcG9zaXRvcnkxMjk2MjY5"
          },
          "name": {
            "description": "The name of the enterprise.",
            "type": "string",
            "example": "Octo Business"
          },
          "slug": {
            "description": "The slug url identifier for the enterprise.",
            "type": "string",
            "example": "octo-business"
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2019-01-26T19:01:12Z"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2019-01-26T19:14:43Z"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "id",
          "node_id",
          "name",
          "slug",
          "html_url",
          "created_at",
          "updated_at",
          "avatar_url"
        ]
      },
      "integration": {
        "title": "GitHub app",
        "description": "GitHub apps are a new way to extend GitHub. They can be installed directly on organizations and user accounts and granted access to specific repositories. They come with granular permissions and built-in webhooks. GitHub apps are first class actors within GitHub.",
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "description": "Unique identifier of the GitHub app",
            "example": 37,
            "type": "integer"
          },
          "slug": {
            "description": "The slug name of the GitHub app",
            "example": "probot-owners",
            "type": "string"
          },
          "node_id": {
            "type": "string",
            "example": "MDExOkludGVncmF0aW9uMQ=="
          },
          "client_id": {
            "type": "string",
            "example": "\"Iv1.25b5d1e65ffc4022\""
          },
          "owner": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/simple-user"
              },
              {
                "$ref": "#/components/schemas/enterprise"
              }
            ]
          },
          "name": {
            "description": "The name of the GitHub app",
            "example": "Probot Owners",
            "type": "string"
          },
          "description": {
            "type": "string",
            "example": "The description of the app.",
            "nullable": true
          },
          "external_url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/apps/super-ci"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2017-07-08T16:18:44-04:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2017-07-08T16:18:44-04:00"
          },
          "permissions": {
            "description": "The set of permissions for the GitHub app",
            "type": "object",
            "properties": {
              "issues": {
                "type": "string"
              },
              "checks": {
                "type": "string"
              },
              "metadata": {
                "type": "string"
              },
              "contents": {
                "type": "string"
              },
              "deployments": {
                "type": "string"
              }
            },
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "issues": "read",
              "deployments": "write"
            }
          },
          "events": {
            "description": "The list of events for the GitHub app. Note that the `installation_target`, `security_advisory`, and `meta` events are not included because they are global events and not specific to an installation.",
            "example": [
              "label",
              "deployment"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "installations_count": {
            "description": "The number of installations associated with the GitHub app. Only returned when the integration is requesting details about itself.",
            "example": 5,
            "type": "integer"
          }
        },
        "required": [
          "id",
          "node_id",
          "owner",
          "name",
          "description",
          "external_url",
          "html_url",
          "created_at",
          "updated_at",
          "permissions",
          "events"
        ]
      },
      "webhook-config-url": {
        "type": "string",
        "description": "The URL to which the payloads will be delivered.",
        "example": "https://example.com/webhook",
        "format": "uri"
      },
      "webhook-config-content-type": {
        "type": "string",
        "description": "The media type used to serialize the payloads. Supported values include `json` and `form`. The default is `form`.",
        "example": "\"json\""
      },
      "webhook-config-secret": {
        "type": "string",
        "description": "If provided, the `secret` will be used as the `key` to generate the HMAC hex digest value for [delivery signature headers](https://docs.github.com/webhooks/event-payloads/#delivery-headers).",
        "example": "\"********\""
      },
      "webhook-config-insecure-ssl": {
        "oneOf": [
          {
            "type": "string",
            "description": "Determines whether the SSL certificate of the host for `url` will be verified when delivering payloads. Supported values include `0` (verification is performed) and `1` (verification is not performed). The default is `0`. **We strongly recommend not setting this to `1` as you are subject to man-in-the-middle and other attacks.**",
            "example": "\"0\""
          },
          {
            "type": "number"
          }
        ]
      },
      "webhook-config": {
        "title": "Webhook Configuration",
        "description": "Configuration object of the webhook",
        "type": "object",
        "properties": {
          "url": {
            "$ref": "#/components/schemas/webhook-config-url"
          },
          "content_type": {
            "$ref": "#/components/schemas/webhook-config-content-type"
          },
          "secret": {
            "$ref": "#/components/schemas/webhook-config-secret"
          },
          "insecure_ssl": {
            "$ref": "#/components/schemas/webhook-config-insecure-ssl"
          }
        }
      },
      "hook-delivery-item": {
        "title": "Simple webhook delivery",
        "description": "Delivery made by a webhook, without request and response information.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the webhook delivery.",
            "type": "integer",
            "format": "int64",
            "example": 42
          },
          "guid": {
            "description": "Unique identifier for the event (shared with all deliveries for all webhooks that subscribe to this event).",
            "type": "string",
            "example": "58474f00-b361-11eb-836d-0e4f3503ccbe"
          },
          "delivered_at": {
            "description": "Time when the webhook delivery occurred.",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-12T20:33:44Z"
          },
          "redelivery": {
            "description": "Whether the webhook delivery is a redelivery.",
            "type": "boolean",
            "example": false
          },
          "duration": {
            "description": "Time spent delivering.",
            "type": "number",
            "example": 0.03
          },
          "status": {
            "description": "Describes the response returned after attempting the delivery.",
            "type": "string",
            "example": "failed to connect"
          },
          "status_code": {
            "description": "Status code received when delivery was made.",
            "type": "integer",
            "example": 502
          },
          "event": {
            "description": "The event that triggered the delivery.",
            "type": "string",
            "example": "issues"
          },
          "action": {
            "description": "The type of activity for the event that triggered the delivery.",
            "type": "string",
            "example": "opened",
            "nullable": true
          },
          "installation_id": {
            "description": "The id of the GitHub App installation associated with this event.",
            "type": "integer",
            "format": "int64",
            "example": 123,
            "nullable": true
          },
          "repository_id": {
            "description": "The id of the repository associated with this event.",
            "type": "integer",
            "format": "int64",
            "example": 123,
            "nullable": true
          },
          "throttled_at": {
            "description": "Time when the webhook delivery was throttled.",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-12T20:33:44Z",
            "nullable": true
          }
        },
        "required": [
          "id",
          "guid",
          "delivered_at",
          "redelivery",
          "duration",
          "status",
          "status_code",
          "event",
          "action",
          "installation_id",
          "repository_id"
        ]
      },
      "scim-error": {
        "title": "Scim Error",
        "description": "Scim Error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "documentation_url": {
            "type": "string",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer"
          },
          "scimType": {
            "type": "string",
            "nullable": true
          },
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "validation-error": {
        "title": "Validation Error",
        "description": "Validation Error",
        "type": "object",
        "required": [
          "message",
          "documentation_url"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "resource": {
                  "type": "string"
                },
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "value": {
                  "oneOf": [
                    {
                      "type": "string",
                      "nullable": true
                    },
                    {
                      "type": "integer",
                      "nullable": true
                    },
                    {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "hook-delivery": {
        "title": "Webhook delivery",
        "description": "Delivery made by a webhook.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the delivery.",
            "type": "integer",
            "example": 42
          },
          "guid": {
            "description": "Unique identifier for the event (shared with all deliveries for all webhooks that subscribe to this event).",
            "type": "string",
            "example": "58474f00-b361-11eb-836d-0e4f3503ccbe"
          },
          "delivered_at": {
            "description": "Time when the delivery was delivered.",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-12T20:33:44Z"
          },
          "redelivery": {
            "description": "Whether the delivery is a redelivery.",
            "type": "boolean",
            "example": false
          },
          "duration": {
            "description": "Time spent delivering.",
            "type": "number",
            "example": 0.03
          },
          "status": {
            "description": "Description of the status of the attempted delivery",
            "type": "string",
            "example": "failed to connect"
          },
          "status_code": {
            "description": "Status code received when delivery was made.",
            "type": "integer",
            "example": 502
          },
          "event": {
            "description": "The event that triggered the delivery.",
            "type": "string",
            "example": "issues"
          },
          "action": {
            "description": "The type of activity for the event that triggered the delivery.",
            "type": "string",
            "example": "opened",
            "nullable": true
          },
          "installation_id": {
            "description": "The id of the GitHub App installation associated with this event.",
            "type": "integer",
            "example": 123,
            "nullable": true
          },
          "repository_id": {
            "description": "The id of the repository associated with this event.",
            "type": "integer",
            "example": 123,
            "nullable": true
          },
          "throttled_at": {
            "description": "Time when the webhook delivery was throttled.",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-12T20:33:44Z",
            "nullable": true
          },
          "url": {
            "description": "The URL target of the delivery.",
            "type": "string",
            "example": "https://www.example.com"
          },
          "request": {
            "type": "object",
            "properties": {
              "headers": {
                "description": "The request headers sent with the webhook delivery.",
                "type": "object",
                "nullable": true,
                "additionalProperties": true
              },
              "payload": {
                "description": "The webhook payload.",
                "type": "object",
                "nullable": true,
                "additionalProperties": true
              }
            },
            "required": [
              "headers",
              "payload"
            ]
          },
          "response": {
            "type": "object",
            "properties": {
              "headers": {
                "description": "The response headers received when the delivery was made.",
                "type": "object",
                "nullable": true,
                "additionalProperties": true
              },
              "payload": {
                "description": "The response payload received.",
                "type": "string",
                "nullable": true,
                "additionalProperties": true
              }
            },
            "required": [
              "headers",
              "payload"
            ]
          }
        },
        "required": [
          "id",
          "guid",
          "delivered_at",
          "redelivery",
          "duration",
          "status",
          "status_code",
          "event",
          "action",
          "installation_id",
          "repository_id",
          "request",
          "response"
        ]
      },
      "integration-installation-request": {
        "title": "Integration Installation Request",
        "description": "Request to install an integration on a target",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the request installation.",
            "type": "integer",
            "example": 42
          },
          "node_id": {
            "type": "string",
            "example": "MDExOkludGVncmF0aW9uMQ=="
          },
          "account": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/simple-user"
              },
              {
                "$ref": "#/components/schemas/enterprise"
              }
            ]
          },
          "requester": {
            "$ref": "#/components/schemas/simple-user"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-07-08T16:18:44-04:00"
          }
        },
        "required": [
          "id",
          "account",
          "requester",
          "created_at"
        ]
      },
      "app-permissions": {
        "title": "App Permissions",
        "type": "object",
        "description": "The permissions granted to the user access token.",
        "properties": {
          "actions": {
            "type": "string",
            "description": "The level of permission to grant the access token for GitHub Actions workflows, workflow runs, and artifacts.",
            "enum": [
              "read",
              "write"
            ]
          },
          "administration": {
            "type": "string",
            "description": "The level of permission to grant the access token for repository creation, deletion, settings, teams, and collaborators creation.",
            "enum": [
              "read",
              "write"
            ]
          },
          "checks": {
            "type": "string",
            "description": "The level of permission to grant the access token for checks on code.",
            "enum": [
              "read",
              "write"
            ]
          },
          "codespaces": {
            "type": "string",
            "description": "The level of permission to grant the access token to create, edit, delete, and list Codespaces.",
            "enum": [
              "read",
              "write"
            ]
          },
          "contents": {
            "type": "string",
            "description": "The level of permission to grant the access token for repository contents, commits, branches, downloads, releases, and merges.",
            "enum": [
              "read",
              "write"
            ]
          },
          "dependabot_secrets": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage Dependabot secrets.",
            "enum": [
              "read",
              "write"
            ]
          },
          "deployments": {
            "type": "string",
            "description": "The level of permission to grant the access token for deployments and deployment statuses.",
            "enum": [
              "read",
              "write"
            ]
          },
          "environments": {
            "type": "string",
            "description": "The level of permission to grant the access token for managing repository environments.",
            "enum": [
              "read",
              "write"
            ]
          },
          "issues": {
            "type": "string",
            "description": "The level of permission to grant the access token for issues and related comments, assignees, labels, and milestones.",
            "enum": [
              "read",
              "write"
            ]
          },
          "metadata": {
            "type": "string",
            "description": "The level of permission to grant the access token to search repositories, list collaborators, and access repository metadata.",
            "enum": [
              "read",
              "write"
            ]
          },
          "packages": {
            "type": "string",
            "description": "The level of permission to grant the access token for packages published to GitHub Packages.",
            "enum": [
              "read",
              "write"
            ]
          },
          "pages": {
            "type": "string",
            "description": "The level of permission to grant the access token to retrieve Pages statuses, configuration, and builds, as well as create new builds.",
            "enum": [
              "read",
              "write"
            ]
          },
          "pull_requests": {
            "type": "string",
            "description": "The level of permission to grant the access token for pull requests and related comments, assignees, labels, milestones, and merges.",
            "enum": [
              "read",
              "write"
            ]
          },
          "repository_custom_properties": {
            "type": "string",
            "description": "The level of permission to grant the access token to view and edit custom properties for a repository, when allowed by the property.",
            "enum": [
              "read",
              "write"
            ]
          },
          "repository_hooks": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage the post-receive hooks for a repository.",
            "enum": [
              "read",
              "write"
            ]
          },
          "repository_projects": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage repository projects, columns, and cards.",
            "enum": [
              "read",
              "write",
              "admin"
            ]
          },
          "secret_scanning_alerts": {
            "type": "string",
            "description": "The level of permission to grant the access token to view and manage secret scanning alerts.",
            "enum": [
              "read",
              "write"
            ]
          },
          "secrets": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage repository secrets.",
            "enum": [
              "read",
              "write"
            ]
          },
          "security_events": {
            "type": "string",
            "description": "The level of permission to grant the access token to view and manage security events like code scanning alerts.",
            "enum": [
              "read",
              "write"
            ]
          },
          "single_file": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage just a single file.",
            "enum": [
              "read",
              "write"
            ]
          },
          "statuses": {
            "type": "string",
            "description": "The level of permission to grant the access token for commit statuses.",
            "enum": [
              "read",
              "write"
            ]
          },
          "vulnerability_alerts": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage Dependabot alerts.",
            "enum": [
              "read",
              "write"
            ]
          },
          "workflows": {
            "type": "string",
            "description": "The level of permission to grant the access token to update GitHub Actions workflow files.",
            "enum": [
              "write"
            ]
          },
          "members": {
            "type": "string",
            "description": "The level of permission to grant the access token for organization teams and members.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_administration": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage access to an organization.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_custom_roles": {
            "type": "string",
            "description": "The level of permission to grant the access token for custom repository roles management.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_custom_org_roles": {
            "type": "string",
            "description": "The level of permission to grant the access token for custom organization roles management.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_custom_properties": {
            "type": "string",
            "description": "The level of permission to grant the access token for custom property management.",
            "enum": [
              "read",
              "write",
              "admin"
            ]
          },
          "organization_copilot_seat_management": {
            "type": "string",
            "description": "The level of permission to grant the access token for managing access to GitHub Copilot for members of an organization with a Copilot Business subscription. This property is in public preview and is subject to change.",
            "enum": [
              "write"
            ]
          },
          "organization_announcement_banners": {
            "type": "string",
            "description": "The level of permission to grant the access token to view and manage announcement banners for an organization.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_events": {
            "type": "string",
            "description": "The level of permission to grant the access token to view events triggered by an activity in an organization.",
            "enum": [
              "read"
            ]
          },
          "organization_hooks": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage the post-receive hooks for an organization.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_personal_access_tokens": {
            "type": "string",
            "description": "The level of permission to grant the access token for viewing and managing fine-grained personal access token requests to an organization.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_personal_access_token_requests": {
            "type": "string",
            "description": "The level of permission to grant the access token for viewing and managing fine-grained personal access tokens that have been approved by an organization.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_plan": {
            "type": "string",
            "description": "The level of permission to grant the access token for viewing an organization's plan.",
            "enum": [
              "read"
            ]
          },
          "organization_projects": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage organization projects and projects public preview (where available).",
            "enum": [
              "read",
              "write",
              "admin"
            ]
          },
          "organization_packages": {
            "type": "string",
            "description": "The level of permission to grant the access token for organization packages published to GitHub Packages.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_secrets": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage organization secrets.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_self_hosted_runners": {
            "type": "string",
            "description": "The level of permission to grant the access token to view and manage GitHub Actions self-hosted runners available to an organization.",
            "enum": [
              "read",
              "write"
            ]
          },
          "organization_user_blocking": {
            "type": "string",
            "description": "The level of permission to grant the access token to view and manage users blocked by the organization.",
            "enum": [
              "read",
              "write"
            ]
          },
          "team_discussions": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage team discussions and related comments.",
            "enum": [
              "read",
              "write"
            ]
          },
          "email_addresses": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage the email addresses belonging to a user.",
            "enum": [
              "read",
              "write"
            ]
          },
          "followers": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage the followers belonging to a user.",
            "enum": [
              "read",
              "write"
            ]
          },
          "git_ssh_keys": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage git SSH keys.",
            "enum": [
              "read",
              "write"
            ]
          },
          "gpg_keys": {
            "type": "string",
            "description": "The level of permission to grant the access token to view and manage GPG keys belonging to a user.",
            "enum": [
              "read",
              "write"
            ]
          },
          "interaction_limits": {
            "type": "string",
            "description": "The level of permission to grant the access token to view and manage interaction limits on a repository.",
            "enum": [
              "read",
              "write"
            ]
          },
          "profile": {
            "type": "string",
            "description": "The level of permission to grant the access token to manage the profile settings belonging to a user.",
            "enum": [
              "write"
            ]
          },
          "starring": {
            "type": "string",
            "description": "The level of permission to grant the access token to list and manage repositories a user is starring.",
            "enum": [
              "read",
              "write"
            ]
          }
        },
        "example": {
          "contents": "read",
          "issues": "read",
          "deployments": "write",
          "single_file": "read"
        }
      },
      "nullable-simple-user": {
        "title": "Simple User",
        "description": "A GitHub user.",
        "type": "object",
        "properties": {
          "name": {
            "nullable": true,
            "type": "string"
          },
          "email": {
            "nullable": true,
            "type": "string"
          },
          "login": {
            "type": "string",
            "example": "octocat"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "node_id": {
            "type": "string",
            "example": "MDQ6VXNlcjE="
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/images/error/octocat_happy.gif"
          },
          "gravatar_id": {
            "type": "string",
            "example": "41d064eb2195891e12d0413f63227ea7",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat"
          },
          "followers_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/followers"
          },
          "following_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/following{/other_user}"
          },
          "gists_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/gists{/gist_id}"
          },
          "starred_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/starred{/owner}{/repo}"
          },
          "subscriptions_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/subscriptions"
          },
          "organizations_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/orgs"
          },
          "repos_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/repos"
          },
          "events_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/events{/privacy}"
          },
          "received_events_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/received_events"
          },
          "type": {
            "type": "string",
            "example": "User"
          },
          "site_admin": {
            "type": "boolean"
          },
          "starred_at": {
            "type": "string",
            "example": "\"2020-07-09T00:17:55Z\""
          },
          "user_view_type": {
            "type": "string",
            "example": "public"
          }
        },
        "required": [
          "avatar_url",
          "events_url",
          "followers_url",
          "following_url",
          "gists_url",
          "gravatar_id",
          "html_url",
          "id",
          "node_id",
          "login",
          "organizations_url",
          "received_events_url",
          "repos_url",
          "site_admin",
          "starred_url",
          "subscriptions_url",
          "type",
          "url"
        ],
        "nullable": true
      },
      "installation": {
        "title": "Installation",
        "description": "Installation",
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of the installation.",
            "type": "integer",
            "example": 1
          },
          "account": {
            "nullable": true,
            "anyOf": [
              {
                "$ref": "#/components/schemas/simple-user"
              },
              {
                "$ref": "#/components/schemas/enterprise"
              }
            ]
          },
          "repository_selection": {
            "description": "Describe whether all repositories have been selected or there's a selection involved",
            "type": "string",
            "enum": [
              "all",
              "selected"
            ]
          },
          "access_tokens_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/app/installations/1/access_tokens"
          },
          "repositories_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/installation/repositories"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/organizations/github/settings/installations/1"
          },
          "app_id": {
            "type": "integer",
            "example": 1
          },
          "client_id": {
            "type": "string",
            "example": "Iv1.ab1112223334445c"
          },
          "target_id": {
            "description": "The ID of the user or organization this token is being scoped to.",
            "type": "integer"
          },
          "target_type": {
            "type": "string",
            "example": "Organization"
          },
          "permissions": {
            "$ref": "#/components/schemas/app-permissions"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "single_file_name": {
            "type": "string",
            "example": "config.yaml",
            "nullable": true
          },
          "has_multiple_single_files": {
            "type": "boolean",
            "example": true
          },
          "single_file_paths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "config.yml",
              ".github/issue_TEMPLATE.md"
            ]
          },
          "app_slug": {
            "type": "string",
            "example": "github-actions"
          },
          "suspended_by": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "suspended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "contact_email": {
            "type": "string",
            "example": "\"test_13f1e99741e3e004@d7e1eb0bc0a1ba12.com\"",
            "nullable": true
          }
        },
        "required": [
          "id",
          "app_id",
          "app_slug",
          "target_id",
          "target_type",
          "single_file_name",
          "repository_selection",
          "access_tokens_url",
          "html_url",
          "repositories_url",
          "events",
          "account",
          "permissions",
          "created_at",
          "updated_at",
          "suspended_by",
          "suspended_at"
        ]
      },
      "nullable-license-simple": {
        "title": "License Simple",
        "description": "License Simple",
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "example": "mit"
          },
          "name": {
            "type": "string",
            "example": "MIT License"
          },
          "url": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "example": "https://api.github.com/licenses/mit"
          },
          "spdx_id": {
            "type": "string",
            "nullable": true,
            "example": "MIT"
          },
          "node_id": {
            "type": "string",
            "example": "MDc6TGljZW5zZW1pdA=="
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "key",
          "name",
          "url",
          "spdx_id",
          "node_id"
        ],
        "nullable": true
      },
      "repository": {
        "title": "Repository",
        "description": "A repository on GitHub.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the repository",
            "example": 42,
            "type": "integer",
            "format": "int64"
          },
          "node_id": {
            "type": "string",
            "example": "MDEwOlJlcG9zaXRvcnkxMjk2MjY5"
          },
          "name": {
            "description": "The name of the repository.",
            "type": "string",
            "example": "Team Environment"
          },
          "full_name": {
            "type": "string",
            "example": "octocat/Hello-World"
          },
          "license": {
            "$ref": "#/components/schemas/nullable-license-simple"
          },
          "forks": {
            "type": "integer"
          },
          "permissions": {
            "type": "object",
            "properties": {
              "admin": {
                "type": "boolean"
              },
              "pull": {
                "type": "boolean"
              },
              "triage": {
                "type": "boolean"
              },
              "push": {
                "type": "boolean"
              },
              "maintain": {
                "type": "boolean"
              }
            },
            "required": [
              "admin",
              "pull",
              "push"
            ]
          },
          "owner": {
            "$ref": "#/components/schemas/simple-user"
          },
          "private": {
            "description": "Whether the repository is private or public.",
            "default": false,
            "type": "boolean"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World"
          },
          "description": {
            "type": "string",
            "example": "This your first repo!",
            "nullable": true
          },
          "fork": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World"
          },
          "archive_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}"
          },
          "assignees_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/assignees{/user}"
          },
          "blobs_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}"
          },
          "branches_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/branches{/branch}"
          },
          "collaborators_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}"
          },
          "comments_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/comments{/number}"
          },
          "commits_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/commits{/sha}"
          },
          "compare_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}"
          },
          "contents_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/contents/{+path}"
          },
          "contributors_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/contributors"
          },
          "deployments_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/deployments"
          },
          "downloads_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/downloads"
          },
          "events_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/events"
          },
          "forks_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/forks"
          },
          "git_commits_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/commits{/sha}"
          },
          "git_refs_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/refs{/sha}"
          },
          "git_tags_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/tags{/sha}"
          },
          "git_url": {
            "type": "string",
            "example": "git:github.com/octocat/Hello-World.git"
          },
          "issue_comment_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/issues/comments{/number}"
          },
          "issue_events_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/issues/events{/number}"
          },
          "issues_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/issues{/number}"
          },
          "keys_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/keys{/key_id}"
          },
          "labels_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/labels{/name}"
          },
          "languages_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/languages"
          },
          "merges_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/merges"
          },
          "milestones_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/milestones{/number}"
          },
          "notifications_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}"
          },
          "pulls_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/pulls{/number}"
          },
          "releases_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/releases{/id}"
          },
          "ssh_url": {
            "type": "string",
            "example": "git@github.com:octocat/Hello-World.git"
          },
          "stargazers_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/stargazers"
          },
          "statuses_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/statuses/{sha}"
          },
          "subscribers_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/subscribers"
          },
          "subscription_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/subscription"
          },
          "tags_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/tags"
          },
          "teams_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/teams"
          },
          "trees_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/trees{/sha}"
          },
          "clone_url": {
            "type": "string",
            "example": "https://github.com/octocat/Hello-World.git"
          },
          "mirror_url": {
            "type": "string",
            "format": "uri",
            "example": "git:git.example.com/octocat/Hello-World",
            "nullable": true
          },
          "hooks_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/hooks"
          },
          "svn_url": {
            "type": "string",
            "format": "uri",
            "example": "https://svn.github.com/octocat/Hello-World"
          },
          "homepage": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "forks_count": {
            "type": "integer",
            "example": 9
          },
          "stargazers_count": {
            "type": "integer",
            "example": 80
          },
          "watchers_count": {
            "type": "integer",
            "example": 80
          },
          "size": {
            "description": "The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0.",
            "type": "integer",
            "example": 108
          },
          "default_branch": {
            "description": "The default branch of the repository.",
            "type": "string",
            "example": "master"
          },
          "open_issues_count": {
            "type": "integer",
            "example": 0
          },
          "is_template": {
            "description": "Whether this repository acts as a template that can be used to generate new repositories.",
            "default": false,
            "type": "boolean",
            "example": true
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_issues": {
            "description": "Whether issues are enabled.",
            "default": true,
            "type": "boolean",
            "example": true
          },
          "has_projects": {
            "description": "Whether projects are enabled.",
            "default": true,
            "type": "boolean",
            "example": true
          },
          "has_wiki": {
            "description": "Whether the wiki is enabled.",
            "default": true,
            "type": "boolean",
            "example": true
          },
          "has_pages": {
            "type": "boolean"
          },
          "has_downloads": {
            "description": "Whether downloads are enabled.",
            "default": true,
            "type": "boolean",
            "example": true,
            "deprecated": true
          },
          "has_discussions": {
            "description": "Whether discussions are enabled.",
            "default": false,
            "type": "boolean",
            "example": true
          },
          "archived": {
            "description": "Whether the repository is archived.",
            "default": false,
            "type": "boolean"
          },
          "disabled": {
            "type": "boolean",
            "description": "Returns whether or not this repository disabled."
          },
          "visibility": {
            "description": "The repository visibility: public, private, or internal.",
            "default": "public",
            "type": "string"
          },
          "pushed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:06:43Z",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:14:43Z",
            "nullable": true
          },
          "allow_rebase_merge": {
            "description": "Whether to allow rebase merges for pull requests.",
            "default": true,
            "type": "boolean",
            "example": true
          },
          "temp_clone_token": {
            "type": "string"
          },
          "allow_squash_merge": {
            "description": "Whether to allow squash merges for pull requests.",
            "default": true,
            "type": "boolean",
            "example": true
          },
          "allow_auto_merge": {
            "description": "Whether to allow Auto-merge to be used on pull requests.",
            "default": false,
            "type": "boolean",
            "example": false
          },
          "delete_branch_on_merge": {
            "description": "Whether to delete head branches when pull requests are merged",
            "default": false,
            "type": "boolean",
            "example": false
          },
          "allow_update_branch": {
            "description": "Whether or not a pull request head branch that is behind its base branch can always be updated even if it is not required to be up to date before merging.",
            "default": false,
            "type": "boolean",
            "example": false
          },
          "use_squash_pr_title_as_default": {
            "type": "boolean",
            "description": "Whether a squash merge commit can use the pull request title as default. **This property is closing down. Please use `squash_merge_commit_title` instead.",
            "default": false,
            "deprecated": true
          },
          "squash_merge_commit_title": {
            "type": "string",
            "enum": [
              "PR_TITLE",
              "COMMIT_OR_PR_TITLE"
            ],
            "description": "The default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
          },
          "squash_merge_commit_message": {
            "type": "string",
            "enum": [
              "PR_BODY",
              "COMMIT_MESSAGES",
              "BLANK"
            ],
            "description": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
          },
          "merge_commit_title": {
            "type": "string",
            "enum": [
              "PR_TITLE",
              "MERGE_MESSAGE"
            ],
            "description": "The default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
          },
          "merge_commit_message": {
            "type": "string",
            "enum": [
              "PR_BODY",
              "PR_TITLE",
              "BLANK"
            ],
            "description": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
          },
          "allow_merge_commit": {
            "description": "Whether to allow merge commits for pull requests.",
            "default": true,
            "type": "boolean",
            "example": true
          },
          "allow_forking": {
            "description": "Whether to allow forking this repo",
            "type": "boolean"
          },
          "web_commit_signoff_required": {
            "description": "Whether to require contributors to sign off on web-based commits",
            "default": false,
            "type": "boolean"
          },
          "open_issues": {
            "type": "integer"
          },
          "watchers": {
            "type": "integer"
          },
          "master_branch": {
            "type": "string"
          },
          "starred_at": {
            "type": "string",
            "example": "\"2020-07-09T00:17:42Z\""
          },
          "anonymous_access_enabled": {
            "type": "boolean",
            "description": "Whether anonymous git access is enabled for this repository"
          },
          "code_search_index_status": {
            "type": "object",
            "description": "The status of the code search index for this repository",
            "properties": {
              "lexical_search_ok": {
                "type": "boolean"
              },
              "lexical_commit_sha": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "archive_url",
          "assignees_url",
          "blobs_url",
          "branches_url",
          "collaborators_url",
          "comments_url",
          "commits_url",
          "compare_url",
          "contents_url",
          "contributors_url",
          "deployments_url",
          "description",
          "downloads_url",
          "events_url",
          "fork",
          "forks_url",
          "full_name",
          "git_commits_url",
          "git_refs_url",
          "git_tags_url",
          "hooks_url",
          "html_url",
          "id",
          "node_id",
          "issue_comment_url",
          "issue_events_url",
          "issues_url",
          "keys_url",
          "labels_url",
          "languages_url",
          "merges_url",
          "milestones_url",
          "name",
          "notifications_url",
          "owner",
          "private",
          "pulls_url",
          "releases_url",
          "stargazers_url",
          "statuses_url",
          "subscribers_url",
          "subscription_url",
          "tags_url",
          "teams_url",
          "trees_url",
          "url",
          "clone_url",
          "default_branch",
          "forks",
          "forks_count",
          "git_url",
          "has_downloads",
          "has_issues",
          "has_projects",
          "has_wiki",
          "has_pages",
          "homepage",
          "language",
          "archived",
          "disabled",
          "mirror_url",
          "open_issues",
          "open_issues_count",
          "license",
          "pushed_at",
          "size",
          "ssh_url",
          "stargazers_count",
          "svn_url",
          "watchers",
          "watchers_count",
          "created_at",
          "updated_at"
        ]
      },
      "installation-token": {
        "title": "Installation Token",
        "description": "Authentication token for a GitHub App installed on a user or org.",
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string"
          },
          "permissions": {
            "$ref": "#/components/schemas/app-permissions"
          },
          "repository_selection": {
            "type": "string",
            "enum": [
              "all",
              "selected"
            ]
          },
          "repositories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/repository"
            }
          },
          "single_file": {
            "type": "string",
            "example": "README.md"
          },
          "has_multiple_single_files": {
            "type": "boolean",
            "example": true
          },
          "single_file_paths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "config.yml",
              ".github/issue_TEMPLATE.md"
            ]
          }
        },
        "required": [
          "token",
          "expires_at"
        ]
      },
      "nullable-scoped-installation": {
        "title": "Scoped Installation",
        "type": "object",
        "properties": {
          "permissions": {
            "$ref": "#/components/schemas/app-permissions"
          },
          "repository_selection": {
            "description": "Describe whether all repositories have been selected or there's a selection involved",
            "type": "string",
            "enum": [
              "all",
              "selected"
            ]
          },
          "single_file_name": {
            "type": "string",
            "example": "config.yaml",
            "nullable": true
          },
          "has_multiple_single_files": {
            "type": "boolean",
            "example": true
          },
          "single_file_paths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "config.yml",
              ".github/issue_TEMPLATE.md"
            ]
          },
          "repositories_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/repos"
          },
          "account": {
            "$ref": "#/components/schemas/simple-user"
          }
        },
        "required": [
          "permissions",
          "repository_selection",
          "single_file_name",
          "repositories_url",
          "account"
        ],
        "nullable": true
      },
      "authorization": {
        "title": "Authorization",
        "description": "The authorization for an OAuth app, GitHub App, or a Personal Access Token.",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "scopes": {
            "description": "A list of scopes that this authorization is in.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "token": {
            "type": "string"
          },
          "token_last_eight": {
            "type": "string",
            "nullable": true
          },
          "hashed_token": {
            "type": "string",
            "nullable": true
          },
          "app": {
            "type": "object",
            "properties": {
              "client_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "client_id",
              "name",
              "url"
            ]
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "note_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "fingerprint": {
            "type": "string",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "installation": {
            "$ref": "#/components/schemas/nullable-scoped-installation"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "app",
          "id",
          "note",
          "note_url",
          "scopes",
          "token",
          "hashed_token",
          "token_last_eight",
          "fingerprint",
          "url",
          "created_at",
          "updated_at",
          "expires_at"
        ]
      },
      "simple-classroom-repository": {
        "title": "Simple Classroom Repository",
        "description": "A GitHub repository view for Classroom",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1296269,
            "description": "A unique identifier of the repository."
          },
          "full_name": {
            "type": "string",
            "example": "octocat/Hello-World",
            "description": "The full, globally unique name of the repository."
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World",
            "description": "The URL to view the repository on GitHub.com."
          },
          "node_id": {
            "type": "string",
            "example": "MDEwOlJlcG9zaXRvcnkxMjk2MjY5",
            "description": "The GraphQL identifier of the repository."
          },
          "private": {
            "type": "boolean",
            "description": "Whether the repository is private."
          },
          "default_branch": {
            "type": "string",
            "example": "main",
            "description": "The default branch for the repository."
          }
        },
        "required": [
          "id",
          "full_name",
          "html_url",
          "node_id",
          "private",
          "default_branch"
        ]
      },
      "simple-classroom-organization": {
        "title": "Organization Simple for Classroom",
        "description": "A GitHub organization.",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "login": {
            "type": "string",
            "example": "github"
          },
          "node_id": {
            "type": "string",
            "example": "MDEyOk9yZ2FuaXphdGlvbjE="
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/github"
          },
          "name": {
            "type": "string",
            "example": "Github - Code thigns happen here",
            "nullable": true
          },
          "avatar_url": {
            "type": "string",
            "example": "https://github.com/images/error/octocat_happy.gif"
          }
        },
        "required": [
          "id",
          "login",
          "node_id",
          "html_url",
          "name",
          "avatar_url"
        ]
      },
      "classroom": {
        "title": "Classroom",
        "description": "A GitHub Classroom classroom",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the classroom.",
            "example": 42,
            "type": "integer"
          },
          "name": {
            "description": "The name of the classroom.",
            "type": "string",
            "example": "Programming Elixir"
          },
          "archived": {
            "description": "Whether classroom is archived.",
            "type": "boolean",
            "example": false
          },
          "organization": {
            "$ref": "#/components/schemas/simple-classroom-organization"
          },
          "url": {
            "description": "The URL of the classroom on GitHub Classroom.",
            "type": "string",
            "example": "https://classroom.github.com/classrooms/1-programming-elixir"
          }
        },
        "required": [
          "id",
          "name",
          "archived",
          "organization",
          "url"
        ]
      },
      "classroom-assignment": {
        "title": "Classroom Assignment",
        "description": "A GitHub Classroom assignment",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the repository.",
            "type": "integer",
            "example": 42
          },
          "public_repo": {
            "description": "Whether an accepted assignment creates a public repository.",
            "type": "boolean",
            "example": true
          },
          "title": {
            "description": "Assignment title.",
            "type": "string",
            "example": "Intro to Binaries"
          },
          "type": {
            "description": "Whether it's a group assignment or individual assignment.",
            "type": "string",
            "example": "individual",
            "enum": [
              "individual",
              "group"
            ]
          },
          "invite_link": {
            "description": "The link that a student can use to accept the assignment.",
            "type": "string",
            "example": "https://classroom.github.com/a/Lx7jiUgx"
          },
          "invitations_enabled": {
            "description": "Whether the invitation link is enabled. Visiting an enabled invitation link will accept the assignment.",
            "type": "boolean",
            "example": true
          },
          "slug": {
            "description": "Sluggified name of the assignment.",
            "type": "string",
            "example": "intro-to-binaries"
          },
          "students_are_repo_admins": {
            "description": "Whether students are admins on created repository when a student accepts the assignment.",
            "type": "boolean",
            "example": true
          },
          "feedback_pull_requests_enabled": {
            "description": "Whether feedback pull request will be created when a student accepts the assignment.",
            "type": "boolean",
            "example": true
          },
          "max_teams": {
            "description": "The maximum allowable teams for the assignment.",
            "nullable": true,
            "type": "integer",
            "example": 0
          },
          "max_members": {
            "description": "The maximum allowable members per team.",
            "nullable": true,
            "type": "integer",
            "example": 0
          },
          "editor": {
            "description": "The selected editor for the assignment.",
            "type": "string",
            "example": "codespaces"
          },
          "accepted": {
            "description": "The number of students that have accepted the assignment.",
            "type": "integer",
            "example": 25
          },
          "submitted": {
            "description": "The number of students that have submitted the assignment.",
[...]
